@font-face {
  font-family: Moon;
  font-weight: bold;
  src: url("assets/Moon2.0-Bold.otf") format("opentype");
}

@font-face {
  font-family: Moon;
  src: url("assets/Moon2.0-Regular.otf") format("opentype");
}


$color-primary: hsl(0, 0%, 10%);
$color-text: hsl(0, 0%, 20%);
$color-subtext: hsl(0, 0%, 30%);
$color-border: hsl(0, 0%, 85%);
$color-box-background: mix($color-primary, white, 4%);
$border-radius: 4px;
$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

h1 {
  font-family: Moon;
  text-stroke: 1.25px #a7b17f;
  -webkit-text-stroke: 1.25px #a7b17f;
  color: transparent;
  font-size: 300%;
  letter-spacing: 2px;
  text-transform: lowercase;
  font-weight: 900!important;
}

body {
  background-color: #EBE8E7;
  box-sizing: content-box;
  font-family: $font-family;
  margin: 0 auto;
  line-height: 1.7;
  padding: 4vh 6vw;
  overflow-x: hidden;
  color: $color-text;
  font-size: 1rem;
  max-width: 63em;
}

time {
  opacity: 0.5;
  display: block;
  color: $color-subtext;
  margin: 0.5em 0 1em;
}

footer {
  margin: 2em 0;
  font-size: 0.8em;
  color: mix($color-text, white, 80%);
  padding-top: 1em;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 75vh;
  border-radius: $border-radius;
}

blockquote {
  padding: 1.5em;
  margin: 0;
  font-size: 0.88em;
  background: $color-box-background;
  border-radius: $border-radius;

  p {
    margin: 0;
  }
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
  background: $color-border;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: 500;
}

a {
  transition: background 300ms;
  text-decoration: none;
  border-bottom: 1px solid $color-border;
  color: $color-primary;
  &:hover {
    color: #222 !important;
    background: #fffaf1;
  border-radius: 4px;
  }
  &:after {
    position: relative;
    top: -0.5em;
    font-size: 0.7em;
    color: #aaaaaa;
  }
  &.internal-link:after,
  &.footnote:after,
  &.reversefootnote:after {
    content: "";
  }
}

blockquote a:hover {
  background: none;
}

*:focus {
  background: #F2EBD7 !important;
  color: #222 !important;
}

.footnote {
  border: none!important;
}

a.reversefootnote:before {
  content: '↑';
  font-size: 10px;
  vertical-align: text-bottom;
}

a.reversefootnote {
  font-size: 0px;
  border: none!important;
}

nav {
  margin: 1em 0 3em;
}

#notes-entry-container {
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
    "content"
    "side";

  @media (min-width: 700px) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content side";
  }
}

.backlink-box {
  background: $color-box-background;
  padding: 1em;
  border-radius: $border-radius;
}

p code, li code, .invalid-link {
  background: #f5f5f5;
  padding: 0.3em 0.4em;
  margin: 0.1em 0.2em;
  border-radius: 4px;
}
nav a.internal-link, nav a.internal-link:focus, nav a.internal-link:hover {
  font-weight: 100;
  background: #BACDD1;
  color: #EBE8E7;
  padding: 0.3em 0.4em;
  margin: 0.1em 0.2em;
  border-radius: 4px;
  border: none;
}

::-moz-selection {
  color: #EBE8E7;
  background: #a7b17f;
}

::selection {
  color: #EBE8E7;
  background: #a7b17f;
}


code {
  font-weight: 500;
}

.invalid-link {
  cursor: help;
}

.invalid-link-brackets {
  color: #ccc;
  cursor: help;
}

ul {
  line-height: 210%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #EBE8E7;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 10px;
}