---
layout: default
---

<article>
  <div>
    <h1>{{ page.title }}</h1>
  </div>

  <div id="notes-entry-container">
      {% if page.backlinks.size > 0 %}
      <ul>
      {% for backlink in page.backlinks %}
        <li>
          <a class="internal-link" href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a><br>
          <div style="font-size: 0.9em">{{ backlink.excerpt | strip_html | truncatewords: 50 }}</div>
        </li>
      {% endfor %}
      </ul>
      {% else %}

      <div style="font-size: 0.9em">
        <p>
          There are no notes linking to this note.
        </p>
      </div>
      {% endif %}
  </div>
</article>

<hr>

{% include notes_graph.html %}
